/*
 * Estilos de tu proyecto
 */
 body{
 	margin: 0 auto;
 }
.home{
 	background-image: url(../assets/images/hero.gif);
 	background-position: 10%;
 	background-repeat: no-repeat;
 	background-size: 100%;
 	/*padding-bottom: 20%;*/
}
.logo{
 	max-width: 5%;
 	margin-top: 2%;
 	margin-left: 5%;
 	margin-right: 50%;
}
/*.barra{
	position: fixed;
}*/
.barra a{
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 130%;
	font-weight: lighter;
	margin-left: 2%;
	top: 0;
	text-decoration: none;
}
.barra a:hover{
	color: #FF00BF;
}
.login{
 	border: 1px solid white;
 	border-radius: 8px 8px 8px 8px;
 	padding: 0.8%;
}
.caja-blanca{
	background-color: white;
	width: 35%;
	height: 30%;
	margin-top: 6%;
	margin-left: 55%;
	font-family: 'Montserrat', sans-serif;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 3%;
}
.caja-blanca h1{
	color: #352384;
	font-size: 250%;
	font-weight: 600;
	margin-bottom: 1%;
}
.sign{
	color: #352384;
	font-size: 90%;
	margin-bottom: 8%;
}
.phone{
	border-bottom: 2px solid grey;
	color: #B0B0C3;
}
.boton{
	width: 34%;
	background-color: #FF00BF;
	border-radius: 5px 5px 5px 5px;
	color: white;
	text-align: center;
	padding: 0.1%;
	margin-top: 7%;
	float: left;
	margin-right: 10%;
}
.boton a{
	text-decoration: none;
	color: white;
}
.signup{
	margin-top: 10%;
}
.signup a{
	color: #B0B0C3;
}
.signup a:hover{
	color: #FF00BF;
}
.already{
	color: #B0B0C3;
	margin-top: 10%;
	font-size: 70%;
	clear: left;
}
.earn{
	color: #B0B0C3;
	font-size: 70%;
}
.already a, .earn a{
	text-decoration: none;
	color: #FF00BF;
}
.already a:hover, .earn a:hover{
	text-decoration: underline;
}
.promo{
	background: linear-gradient(#76278F, #2B1E66);

}
.imagen img{
	width: 411.2px;
	height: 430.5px;
	padding-top: 5%;
}
.imagen{
	display: inline-block;
	padding-left: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
}
.texto{
	display: inline-block;
	max-width: 30%;
	padding-left: 10%;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	line-height: 190%;
}
.texto h1{
	font-weight: 400;
}
.video1 iframe{
	float: right;
}
.amplify, .june, .good{
	padding: 3%;
	font-family: 'Montserrat', sans-serif;
}
.video2 iframe{
	float: left;
	padding-right: 5%;
}
.june{
	clear: right;
}
.video3 iframe{
	float: right;
}
.good{
	clear: left;
}
footer{
	background-color: #333447;
	clear: right;
	font-family: 'Montserrat', sans-serif;
	color: white;
	line-height: 200%;
	font-weight: lighter;
	text-align: center;
}
footer a{
	text-decoration: none;
	color: white;
}
footer a:hover{
	color: #FF00BF;
	text-decoration: underline;
}
footer div{
	display: inline-block;
	max-width: 20%;
	padding: 7%;
}
.columna4 img{
	max-width: 50%;
}
i{
	padding: 1%;
	border: 2px solid white;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	margin: 3%;
}
.fa-facebook{
	padding-left: 1.2%;
	padding-right: 1.2%;
}
hr{
	width: 60%;
}
.copy{
	padding: 3%;
}